body {
    background-color: rgb(237, 213, 133);
    height: 100vh;
}
@keyframes bubble {
    to {
        transform: translateY(-5vh) scale(2);
    }
}
.bubble {
    height: 1em;
    width: 1em;
    position: absolute;
    border-color: tomato;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    transform: translateY(98vh);
    animation-name: bubble;
    animation-duration: 3s;
}
div1 {
    transform: translateX(3vw);
}