body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    height: 20em;
    width: 40em;
    background-color: lightgreen;
}

@keyframes disappear {
    to {
        background-color: white;
    }
}
.disappear {
    animation-name: disappear;
    animation-duration: 2s;
    animation-fill-mode: both;
}